@import 'tailwindcss';

.user-input {
  @apply resize-none rounded-lg border border-stone-300 bg-white px-2 py-1 shadow-sm shadow-stone-400 outline-none;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

#settings-root {
  font-size: 15px;
}

.buymeacoffee {
  transform: translate(-120%);
  animation:
    buymeacoffee-load 0.8s ease-out 1s 1 forwards,
    buymeacoffee-brightness 3s infinite;
}

@keyframes buymeacoffee-load {
  80% {
    transform: translate(30%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes buymeacoffee-brightness {
  50% {
    filter: brightness(1.2);
  }
}
