@import 'tailwindcss';

input:focus {
  outline: none;
}

.description-like {
  background-color: var(--yt-spec-badge-chip-background) !important;
  font-family: 'Roboto', 'Arial', sans-serif !important;
  font-size: 1.4rem !important;
  padding: 12px !important;
  border-radius: 12px !important;
  color: var(--yt-spec-text-primary) !important;
}

#chat-box > input {
  border-bottom: 1px solid var(--yt-spec-10-percent-layer) !important;
}

#chat-box > input:focus {
  border-bottom: 1.5px solid var(--yt-spec-text-primary) !important;
}

.markdown-box {
  display: flex;
  flex-direction: column;
  gap: 12px;

  > ul {
    list-style-type: disc;
    padding-left: 30px;
  }
  > ol {
    list-style-type: decimal;
    padding-left: 30px;
  }
  > h1 {
    @apply text-lg font-semibold;
  }
}

div:has(#yt-summary-panel) {
  width: 100%;
  margin-right: 12px;
}

.chat-avatar {
  display: flex;
  width: 35px;
  height: 35px;
  padding: 2px;
  margin-bottom: auto;
  border-radius: 100%;
}
