@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

.tube-summary {
  @import 'tailwindcss/preflight.css' layer(base);
}

.description-like {
  background-color: var(--yt-spec-badge-chip-background);
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1.4rem;
  padding: 12px;
  border-radius: 12px;
  color: var(--yt-spec-text-primary);
}

#chat-box {
  padding: 5px 10px;
}

.user-input {
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  margin: 0 20px;
  width: 100%;
  display: flex;
  @apply bg-white;
  align-items: end;

  > textarea {
    padding-bottom: 6px;
  }

  > button {
    @apply !bg-zinc-900;
    padding: 5px;
    display: flex;
    height: fit-content;

    &:hover:not(:disabled) {
      @apply !bg-red-500;
    }

    &:disabled {
      @apply !bg-zinc-800;
      cursor: default;
    }
  }
}

html[dark] .user-input {
  @apply bg-zinc-700;
}

.user-dialog {
  @apply ml-6 rounded-3xl bg-zinc-200 p-4;
}

html[dark] .user-dialog {
  @apply bg-zinc-700 text-white;
}

#chat-box > button:hover {
  stroke-width: 1.5px;
}

.markdown-box {
  display: flex;
  flex-direction: column;
  gap: 12px;

  ul {
    list-style-type: disc;
    padding-left: 30px;
  }
  ol {
    list-style-type: decimal;
    padding-left: 30px;
  }
  h1 {
    @apply text-lg font-semibold;
  }
  blockquote {
    @apply ml-2 border-l-2 pl-4 italic;
    border-color: var(--yt-spec-10-percent-layer);
  }

  a {
    color: rgb(6, 95, 212);
  }
}

div:has(#yt-summary-panel) {
  width: 100%;
  margin-right: 12px;
}

.chat-avatar {
  display: flex;
  width: 35px;
  height: 35px;
  padding: 2px;
  margin-bottom: auto;
  border-radius: 100%;
}

button {
  cursor: pointer;
}
